<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: black solid 1px;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>Rental</title>
</head>
<body>
<p>
<h2>RENTALS</h2>
</p>
<div id="placeholder"></div>
<div>
    <a href="/rental/add">ADD</a>
    <a href="/">HOME</a>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>CUSTOMER</th>
            <th>CAR</th>
            <th>RENT DATE</th>
            <th>RETURN DATE</th>
            <th>IS RETURNED?</th>
            <th colspan="3">OPERATIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${rentalList}">
            <td th:text="${r.getCustomer().name}"></td>
            <td th:text="${r.getCar().brand}"></td>
            <td th:text="${#dates.format(r.rentDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(r.returnDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${r.returned} ? 'YES' : 'NO'"></td>
            <td><button th:onclick="returnCar([[${r.id}]])">Return</button></td>
            <td><button th:onclick="update([[${r.id}]])">Update</button></td>
            <td><button th:onclick="remove([[${r.id}]])">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    function update(id){
        $.ajax({
            url: '/rental/update',
            type: 'get',
            data: { 'id': id },
            success: function( data ) {
                $('#placeholder').html(data);
            },
            error: function(result){
                alert("Error: " + result);
            }
        });
    }

    function remove(id) {
        $.ajax({
            url: '/rental/del',
            type: 'post',
            data: {'id': id},
            success: function (data) {
                window.location.href = "/rental";
            },
            error: function (result) {
                alert("Error: " + result);
            }
        });
    }
    function returnCar(id){
        $.ajax({
            url: '/rental/ret',
            type: 'post',
            data: {'id': id},
            success: function (data) {
                window.location.href="/rental";
            },
            error: function (result) {
                alert("Error: " + result);
            }
        });
    }
</script>


</body>
</html>